POSTGRES_DB=triadfs
POSTGRES_USER=triadfs
POSTGRES_PASSWORD=triadfs
POSTGRES_PORT=5432

API_PORT=8080
SPRING_PROFILES_ACTIVE=prod
TRIADFS_AUTH_JWT_SECRET_BASE64=dHJpYWRmcy1zdXBlci1zZWNyZXQta2V5LWZvci1qd3QtMjAyNg==
JAVA_OPTS=-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0

PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@triadfs.local
PGADMIN_DEFAULT_PASSWORD=admin123